#posts {
    width: 1200px;
}

.module {
    display: flex;
    align-items: flex-start;
    background: white;
}

.module h3 {
    margin: 0;
    font-style: italic;
    flex: 1;
}

.stripe {
    background: repeating-linear-gradient( -45deg, #eee, #eee 3px, #fff 0px, #fff 7px);
    height: 20px;
    width: 90%;
}

.img-placeholder {
    min-width: 260px;
    min-height: 120px;
    background: #666;
    border: 5px solid #fff;
    box-shadow: 1px 1px 10px;
}

.single-post {
    display: flex;
    margin: 27px 0;
}

.post-content h2 {
    margin: 0 0 16px 0;
    font-family: sans-serif;
    font-weight: 100;
}

.post-content {
    margin-left: 42px;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.muted-info {
    opacity: .5;
}

.post-para {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 125%;
    font-weight: 100;
}