.survey,
.survey td,
.survey th {
    border: 1px solid #333;
}

.survey td,
.survey th {
    padding: 10px;
}

.survey {
    width: 350px;
}

.survey input[type="email"] {
    width: 175px;
}

.youtube img {
    width: 50px;
    height: 50px;
}

.youtube .social {
    width: 20px;
    height: 20px;
}

.youtube textarea#comment {
    height: 100px;
    margin-top: 20px;
}