.simple-table,
.simple-table td {
    border: 1px solid #333;
}

.shopping-list {
    border-spacing: 12px;
}

.shopping-list,
.shopping-list td {
    border: 1px solid #333;
}

.shopping-list td {
    padding: 15px;
}

.users,
.users td,
.users th {
    border: 1px solid #333;
}

.users tbody td {
    padding: 6px;
}

.users thead th,
.users tfoot td {
    padding: 8px;
}

.users thead th:last-of-type,
.users tfoot td:last-child,
.users tfoot td:first-child {
    width: 150px;
}

.numbers,
.numbers td {
    border: 1px solid #333;
}

.numbers {
    background: #ccc;
}

.animations,
.animations td,
.animations th {
    border: 1px solid #333;
}

.animations thead th {
    text-align: left;
    padding: 10px;
}

.animations tbody td {
    padding: 7px;
}

.animals,
.animals td,
.animals th {
    border: 1px solid #333;
}

.animals img {
    width: 360px;
    width: 260px;
}

.animals td {
    padding: 7px;
}

.animals td:nth-child(even) {
    background: #ccc;
}

.animals tr:last-of-type td:last-of-type {
    background: rgb(158, 65, 3);
}