html {
    font-size: 10px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

.img-container {
    height: 100%;
    overflow: auto;
    text-align: center;
}

.nature-img {
    position: relative;
    top: 50px;
    width: 360px;
}

.rounded-borders {
    border-radius: 2rem;
}

h1 {
    font-size: 240%;
}

button {
    font-size: 200%;
    border: 0;
    padding: 1rem;
    background: #05668D;
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2) scaleZ(1.1);
    cursor: pointer;
}

hr {
    border: .1rem solid #05668D;
    -webkit-box-shadow: 0 4px 12px 0px #05668D;
            box-shadow: 0 4px 12px 0px #05668D;
}