html {
    font-size: 10px;
    background-color: #fff;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'YantramanavBold', sans-serif;
}

/* HEADER SECTION */

#banner {
    background-image: url("../images/banner-full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

#navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    border-top: 0.5rem solid #FDBD1F;
}

.unstyled-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.logo {
    margin: 0 auto 0 3rem;
}

.list-item {
    padding: 3rem 2rem;
    background: transparent;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.list-item .nav-button {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.list-item a:link,
.list-item a:visited {
    text-decoration: none;
    color: #AC6F7F;
}

.list-item:hover {
    background: #FDBD1F;
    cursor: pointer;
}

.list-item:hover a {
    color: #fff;
}

.purple-h1-top {
    background: #AC6F7F;
    color: #fff;
    padding: .9rem 1.2rem;
    font-size: 4.5rem;
    margin-bottom: .1rem;
    margin-top: 0;
}

.purple-h1-bottom {
    margin: .1rem 0 26rem 0;
    padding: .9rem 1.2rem;
    font-size: 4.5rem;
    background: #AC6F7F;
    color: #fff;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 4rem;
    height: 100%;
}

.menu-drop-down-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #333;
    border: .1rem solid #333;
    border-radius: .4rem;
    cursor: pointer;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
}

.bar {
    border: .1rem solid #fff;
    width: 2.2rem;
    margin: .2rem .3rem;
    background: #fff;
    border-radius: .2rem;
}

.bar:first-of-type {
    margin-top: .8rem;
}

.bar:last-of-type {
    margin-bottom: .8rem;
}

/* SERVICES SECTION */

#services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 7rem 5rem;
    background: #FDBD1F;
}

.services-h2 {
    margin-bottom: 0;
    font-size: 240%;
    color: #fff;
    font-family: 'YantramanavBlack', sans-serif;
}

.services-para {
    font-size: 200%;
    margin: 1.4rem 0 2.8rem;
    text-align: center;
    width: 53rem;
    line-height: 1.4;
    color: #fff;
    font-family: 'YantramanavLight', sans-serif;
}

.purple-button {
    font-size: 200%;
    padding: 1rem 2.2rem;
    border: .1rem solid transparent;
    border-radius: .3rem;
    background: #AC6F7F;
    color: #FDBD1F;
    font-weight: 600;
}

.purple-button:hover {
    cursor: pointer;
}

.right-margin {
    margin-right: .8rem;
}

.left-margin {
    margin-left: .8rem;
}

/* ACTIVITIES SECTION */

#activities {
    display: grid;
    grid-auto-columns: 1fr;
}

.rocket,
.microphone {
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-right: .1rem solid rgba(0, 0, 0, 0.1);
    padding: 10rem 5rem;
}

#activities h1 {
    font-size: 240%;
    color: #AC6F7F;
    letter-spacing: .1rem;
    margin: 0;
}

#activities .sub-activity-text {
    color: #FDBD1F;
    font-size: 240%;
    font-family: 'YantramanavLight', sans-serif;
}

.activities-content {
    margin-left: 4rem;
}

.purple-para {
    color: #9F8E94;
    font-size: 190%;
    font-family: 'YantramanavMedium';
    line-height: 1.4;
}

.more-button {
    font-size: 180%;
    border-radius: .3rem;
    background: #FDBD1F;
    border: .1rem solid transparent;
    color: #fff;
    padding: 0.5rem 1.2rem;
}

.more-button:hover {
    cursor: pointer;
}

/* JUMBO */

#jumbo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10rem 5rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #AC6F7F;
}

.jumbo-h2 {
    font-family: 'YantramanavRegular', sans-serif;
    margin: 0;
    font-size: 240%;
    color: #fff;
}

.jumbo-sub-text {
    font-size: 220%;
    font-family: 'YantramanavLight', sans-serif;
    color: #fff;
}

.jumbo-orange-para {
    margin: 2rem 0;
    font-size: 210%;
    font-family: 'YantramanavRegular';
    color: #FDBD1F;
    line-height: 1.4;
}

button.more-button.white {
    background: #fff;
    color: #AC6F7F;
}

.jumbo-content {
    margin-left: 4rem;
}

/* CAROUSEL */

#carousel {
    text-align: center;
    padding: 5rem;
}

.slider {
    position: relative;
}

.img-container {
    position: absolute;
    top: 2rem;
    z-index: -1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner-img-small {
    width: 29rem;
}

.carousel-h2 {
    font-size: 240%;
    margin: 0;
    color: #AC6F7F;
}

.carousel-sub-text {
    color: #FDBD1F;
    font-size: 240%;
    font-family: 'YantramanavLight', sans-serif;
}

.narrow-text {
    width: 50vw;
    margin: 0 auto;
}

.fa-chevron-circle-right {
    margin-left: 25rem;
    font-size: 270%;
    color: #AC6F7F;
}

.fa-chevron-circle-left {
    margin-right: 25rem;
    font-size: 270%;
    color: #AC6F7F;
}

/* FOOTER */

#footer {
    background: #F0F0F0;
}

#footer p {
    font-size: 170%;
    margin: 0;
    text-align: center;
    color: #9F8E94;
    padding: 5rem 0;
}