@media only screen and (min-width:1920px) and (max-width:2560px) {
    html {
        font-size: 16px;
    }
    .purple-h1-top,
    .purple-h1-bottom {
        font-size: 2.5rem;
    }
    .banner-img-small {
        width: 18rem;
    }
    .img-container {
        top: 1.3rem;
    }
}

@media only screen and (min-width:1024px),
(max-width:1600px) and (min-height:600px),
(max-height:900px) {
    .purple-h1-bottom {
        margin: .1rem 0 7rem 0;
    }
}

@media only screen and (max-width: 768px),
(max-width:800px) {
    .unstyled-list li:first-of-type {
        width: auto;
    }
    .menu-drop-down-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .unstyled-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: none;
    }
    .unstyled-list li {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
    }
    .purple-h1-top,
    .purple-h1-bottom {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width:320px) and (max-width:670px) {
    .fa-chevron-circle-right {
        display: none;
    }
    .fa-chevron-circle-left {
        display: none;
    }
    .banner-img-small {
        width: 22rem;
    }
    .carousel-holder {
        width: 32rem;
    }
}

@media only screen and (min-width: 670px) and (max-width:992px) {
    .banner-img-small {
        width: 22rem;
    }
    .carousel-holder {
        width: 32rem;
    }
    .fa-chevron-circle-right {
        margin-left: 15rem;
    }
    .fa-chevron-circle-left {
        margin-right: 15rem;
    }
}

@media only screen and (min-width: 576px) and (max-width:992px) {
    #jumbo {
        text-align: center;
    }
    #activities,
    #jumbo {
        display: block;
    }
    .rocket {
        padding-top: 10rem;
        padding-bottom: 0;
        margin: 0 auto;
        text-align: center;
    }
    .microphone {
        margin-top: 10rem;
        padding-bottom: 10rem;
        padding-top: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .microphone .activities-content {
        margin-left: 0;
        margin-right: 4rem;
    }
    .jumbo-content {
        margin-left: 0;
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #activities .sub-activity-text {
        font-size: 200%;
    }
}

@media only screen and (min-width:576px) and (max-width:1200px) {
    .purple-para,
    .jumbo-orange-para {
        font-size: 180%;
    }
    .jumbo-sub-text {
        font-size: 210%;
    }
    .jumbo-h2 {
        font-size: 230%;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .purple-h1-top,
    .purple-h1-bottom {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 320px) and (max-width:480px),
(max-width: 576px) {
    .rocket,
    .microphone {
        padding: 0;
        border: 0;
    }
    #services,
    #activities,
    #jumbo {
        padding: 7rem 3rem;
    }
    #services {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    #jumbo {
        display: block;
        text-align: left;
    }
    .jumbo-content {
        margin-left: 0;
        margin-top: 4rem;
    }
    .purple-h1-bottom {
        margin: .1rem 0 5rem 0;
    }
    .purple-h1-bottom,
    .purple-h1-top {
        font-size: 1.7rem;
    }
    .services-para {
        margin: 1.4rem auto 2.8rem 0;
        text-align: left;
        width: auto;
        font-size: 190%;
    }
    .services-h2 {
        font-size: 210%;
    }
    .purple-button {
        font-size: 180%;
        display: block;
    }
    .right-margin,
    .left-margin {
        margin: 0;
    }
    .purple-button:first-of-type {
        margin-bottom: .8rem;
    }
    .microphone,
    .rocket {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: flex-start;
    }
    #activities {
        display: block;
    }
    .microphone {
        padding-top: 0;
        margin-top: 6rem;
    }
    .rocket {
        padding-bottom: 0;
    }
    .activities-content {
        margin-left: 0;
        margin-top: 4rem;
    }
    .tablet {
        width: 20rem;
    }
    .jumbo-h2 {
        font-size: 220%;
    }
    .jumbo-sub-text {
        font-size: 200%;
    }
    .jumbo-orange-para {
        font-size: 170%;
    }
    .banner-img-small {
        width: 22rem;
    }
    .carousel-holder {
        width: 32rem;
    }
    .img-container {
        top: 1rem;
    }
}

@media only screen and (min-width: 320px) and (max-width:480px) {
    .purple-para {
        font-size: 180%;
    }
    #activities .sub-activity-text {
        font-size: 210%;
    }
    .banner-img-small {
        width: 12rem;
    }
    .carousel-holder {
        width: 18rem;
    }
    .narrow-text {
        width: auto;
    }
    #carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 5rem 2rem;
    }
    .slider {
        margin-bottom: 2rem;
    }
}