html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #212529;
    color: #fff;
}

thead th,
tbody td {
    padding: .5rem;
    text-align: left;
}

tbody td {
    border-spacing: 5px 5px;
}

tbody tr:nth-child(even) {
    background: #eee;
}

button.get-user-info {
    font-size: 3rem;
    margin-bottom: .5rem;
    color: #fff;
    background: #212529;
    border: 0;
    border-radius: 0.3rem;
    padding: 1rem;
}