html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #212529;
    color: #fff;
}

caption {
    font-size: 3rem;
    margin-bottom: .5rem;
}