@font-face {
    font-family: 'BitterSweet';
    src: url('./fonts/bittersweet-webfont.eot');
    src: url('./fonts/bittersweet-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bittersweet-webfont.woff2') format('woff2'),
         url('./fonts/bittersweet-webfont.woff') format('woff'),
         url('./fonts/bittersweet-webfont.ttf') format('truetype'),
         url('./fonts/bittersweet-webfont.svg#bittersweetbittersweet') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CloisterBlack';
    src: url('./fonts/cloisterblack-webfont.eot');
    src: url('./fonts/cloisterblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/cloisterblack-webfont.woff2') format('woff2'),
         url('./fonts/cloisterblack-webfont.woff') format('woff'),
         url('./fonts/cloisterblack-webfont.ttf') format('truetype'),
         url('./fonts/cloisterblack-webfont.svg#cloister_blacklight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeagramTfb';
    src: url('./fonts/seagram_tfb-webfont.eot');
    src: url('./fonts/seagram_tfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/seagram_tfb-webfont.woff2') format('woff2'),
         url('./fonts/seagram_tfb-webfont.woff') format('woff'),
         url('./fonts/seagram_tfb-webfont.ttf') format('truetype'),
         url('./fonts/seagram_tfb-webfont.svg#seagram_tfbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#emojis {
    display: grid;
    grid-template-columns: repeat(3, 320px);
}

.emoji-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: 1px solid #000;
    width: 320px;
}

.emoji .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 10px;
}

.emoji .emoji-container {
    margin: 10px;
}

.emoji {
    margin: 10px;
    width: 100px;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

.content h1,
.content p {
    font-family: 'SeagramTfb', 'BitterSweet','CloisterBlack';
    font-style: normal;
}

.content p {
    font-weight: 300;
}

.emoji:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
}