.banana {
    width: 400px;
    height: 250px;
}

.social-icon {
    width: 15px;
    height: 15px;
}

.dog-top {
    vertical-align: top;
}

.dog-middle {
    vertical-align: middle;
}

.dog-bottom {
    vertical-align: bottom;
}

.disney {
    width: 500px;
}

.jerry,
.stitch {
    height: 400px;
    width: 350px;
}

.jerry {
    float: left;
}

.stitch {
    float: right;
}

.clear-left {
    clear: left;
}

.food {
    width: 200px;
    height: 200px;
}

.dog {
    width: 800px;
}

.simba {
    border: 4px solid rgb(9, 155, 9);
}

.lion-king-container {
    width: 300px;
}