html{
    font-family: 'Slabo 27px', serif;
}

.lead {
    font-weight: 300;
    line-height: 1.4;
    padding: 0 12px;
}

.hr {
    height: 12px;
    border: 0;
    -webkit-box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.google {
    background: #FF530D;
    color: #f1f1f1;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#socials-ul {
    margin: 50px 0;
    list-style-type: none;
    padding: 0;
    width: 200px;
    text-align: center;
}

#socials-ul>li {
    padding: 8px 0;
    background: #f4f4f4;
}

#socials-ul>li:first-of-type {
    background: #008CBA;
}

#socials-ul a:link {
    color: #333;
    text-decoration: none;
}

#socials-ul li:first-of-type a:visited {
    color: #f1f1f1;
}

#socials-ul a:visited {
    color: #333;
}

#socials-ol {
    width: 200px;
    text-align: center;
    list-style-type: none;
}

#socials-ol li {
    background: #f4f4f4;
    padding: 12px 0;
}

#socials-ol a:link,
#socials-ol a:visited {
    color: #333;
    text-decoration: none;
}

#socials-ol li:hover {
    background: #4CAF50;
}

#socials-ol li:hover a {
    color: #fff;
}

.email-me {
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.wiki {
    padding: 0;
    text-align: center;
    list-style-type: none;
    background: #383E4C;
}

.wiki li {
    border: 1px solid #646d7c;
    padding: 12px;
    background: #383E4C;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.wiki li:hover {
    background: #49505F;
    cursor: pointer;
}

.wiki a:link,
.wiki a:visited {
    color: #f4f4f4;
    text-decoration: none;
}