.weekdays-ol {
    background: #3399ff;
    border: 1px solid transparent;
    border-radius: 5px;
}

.weekdays-ol>li {
    padding: 7px 5px;
    background: #cce5ff;
}

.weekdays-ul {
    background: #182E38;
    list-style-type: none;
    padding-left: 8px;
    font-size: 18px;
    border: 1px solid #182E38;
    border-left: none;
}

.weekdays-ul>li {
    background: #f1f1f1;
    padding: 7px 12px;
}

#programming-list {
    background: #0396A6;
    padding: 12px;
}

.programming-header {
    padding: 4px 6px;
    font-size: 22px;
    color: #fff;
}

.programming-content {
    background: #55D9D9;
    padding: 7px;
}

#dictionary {
    padding: 12px;
    border: 5px solid #799A8E;
}

.dictionary-header {
    border-left: 5px solid #257D92;
    padding-left: 2px;
}

.dictionary-body {
    padding: 5px;
    border: 5px solid #E06769;
    margin: 8px 36px;
}

#nest {
    list-style-type: disc;
}

#square-ul {
    list-style-type: square;
}

#lower-alpha-ol {
    list-style-type: lower-alpha;
}

#upper-alpha-ul {
    list-style-type: upper-alpha;
}

#procedure,
#ingredients {
    background-color: #f1f1f1;
    padding: 10px 20px;
}

#procedure {
    border-left: 5px solid rgb(255, 0, 0);
}

#ingredients {
    border-left: 5px solid rgb(2, 102, 168);
}

#procedure ol {
    list-style-type: none;
}

#ingredients ul {
    list-style-type: none;
}

.description-head {
    margin: 12px 0;
}

#book {
    font-size: 18px;
    background: #f1f1f1;
    padding: 16px 36px;
    border-left: 4px solid #777;
    list-style-type: none;
}

#square-ul,
#lower-alpha-ol,
#upper-alpha-ul,
#circle-ul{
    display: none;
}

.item-2:hover #square-ul,
.item-4:hover #circle-ul,
.sub-item-2-2:hover #lower-alpha-ol{
    display: block;
    cursor: pointer;
}
