body {
    margin: 0;
    background: #f4f4f4
}

.move {
    -webkit-transform: translate(0);
            transform: translate(0);
    padding-left: 12px;
}

.move:hover {
    cursor: pointer;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    text-shadow: 0 0 0.2em #848486;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; /* vendorless fallback */
    -o-transition: all 0.3s linear; /* opera */
    -ms-transition: all 0.3s linear; /* IE 10 */
    -moz-transition: all 0.3s linear; /* Firefox */
    -webkit-transition: all 0.3s linear; /*safari and chrome */
}

#shade1:hover {
    color: #000;
}

#shade2:hover {
    color: #080808;
}

#shade3:hover {
    color: #101010;
}

#shade4:hover {
    color: #181818;
}

#shade5:hover {
    color: #202020;
}

#shade6:hover {
    color: #282828;
}

#shade7:hover {
    color: #303030;
}

#shade8:hover {
    color: #383838;
}

#shade9:hover {
    color: #404040;
}

#shade10:hover {
    color: #484848;
}

#shade11:hover {
    color: #505050;
}

#shade12:hover {
    color: #585858;
}

#shade13:hover {
    color: #606060;
}

#shade14:hover {
    color: #686868;
}

#shade15:hover {
    color: #696969;
}

#shade16:hover {
    color: #707070;
}