/* 1. Headings */
.h1 {
    font-size: 4em;
}

.h2 {
    font-size: 3.5em;
}

.h3 {
    font-size: 3em;
}

.h4 {
    font-size: 2.5em;
}

.h5 {
    font-size: 2em;
}

.h6 {
    font-size: 1.5em;
}

/* 2. Seasons */
#spring{
    color: rgb(15, 197, 15);
}
#summer{
    color: rgb(255, 238, 0);
}
#autumn{
    color: rgb(248, 92, 20)
}
#winter{
    color: rgb(rgb(0, 99, 228), green, blue)
}

.lead {
    font-weight: 300;
    line-height: 1.4;
    padding: 0 12px;
}
/* Tigers */
#tigers{
    text-transform: capitalize;
}