body {
    font-family: sans-serif;
}

#form-wrapper {
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 10px #333;
    box-shadow: 1px 1px 10px #333;
    padding: 15px;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

small {
    color: #666;
}

input[type="file"] {
    margin-bottom: 5px;
}

.input-group:nth-of-type(4) {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
}