body,
html {
    height: 100%;
}

body {
    margin: 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    display: none;
    width: 360px;
    border: 7px solid #fff;
    box-shadow: 1px 1px 13px #000;
}

img.active {
    display: inline-block;
}

.prev, .next {
    cursor: pointer;
}

.prev {
    margin-right: 2rem;
}

.next {
    margin-left: 2rem;
}