html {
    font-family: sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 170%;
}

thead {
    background: #212529;
    color: #fff;
}

#caption {
    font-size: 3rem;
    overflow: auto;
    background: #333;
    color: #fff;
}

#caption h1 {
    margin-left: 3rem;
}

/* form */
#form {
    margin: 4rem;
}

.form-wrapper {
    margin: 5rem 0;
}

.form-outer {
    overflow: auto;
    margin: 0 auto;
    width: 67rem;
    -webkit-box-shadow: 0 .8rem 1.6rem -0.6rem #333;
    box-shadow: 0 .8rem 1.6rem -0.6rem #333;
}

.form-outer h1 {
    margin-bottom: 3rem;
    font-size: 300%;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 200%;
}

.field-container-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-group .input-field {
    padding: .8rem 1.7rem;
    margin-right: 1.5rem;
    margin-top: 0.4rem;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    width: 30rem;
}

button {
    padding: .4rem 1rem;
    margin-top: 3rem;
    font-size: 225%;
    border: .1rem solid transparent;
    border-radius: .5rem;
    color: #fff;
    background: #4195FF;
    cursor: pointer;
    text-transform: capitalize;
}

.muted-text {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.5);
}

.errors {
    color: #ff0000;
}

/* #footer */
#footer {
    font-size: 200%;
    overflow: auto;
    background: #333;
    color: #fff;
    text-align: center;
}