.fruits td {
    width: 300px;
    padding: 7px;
}

.alphabet,
.alphabet td {
    border: 1px solid #333;
}

.alphabet td {
    padding: 7px;
}

.form-me,
.form-me td {
    border: 1px solid #333;
}

.form-me tbody td {
    padding: 12px;
    width: 400px;
}

#address,
#commentsQuestions {
    height: 65px;
    width: 90%;
}

.form-me tfoot tr {
    text-align: center;
    background: cyan;
}

.form-me tfoot td {
    padding: 12px;
}

#countryCode,
#areaCode {
    width: 60px;
}

#lastName,
#firstName {
    width: 100%;
}