.dell {
    width: 400px;
    background: #ddd;
    overflow: auto;
}

.dell img {
    width: 100%;
}

.dell-head,
.dell-body {
    padding: 12px;
    border: 2px solid;
    margin: 15px;
    background: #fff;
}

.dell-body {
    border-radius: 5px;
}

.dell input[type="submit"] {
    display: block;
}

.dell .guaranty {
    display: block;
    padding: 12px 0;
}

/* 2. Socials */

.socials {
    width: 400px;
    overflow: auto;
    margin-top: 10px;
    background: #ddd;
}

.links {
    background: #777;
    margin: 17px;
}

.links a:link,
.links a:visited {
    color: rgb(206, 90, 36);
}

/* 3. Creativity */

.compas,
.outdoors,
.tent {
    width: 360px;
    height: 240px;
}

.compas {
    border: 1px double rgb(44, 23, 3);
}

.outdoors {
    border: 1px dotted #00FF00;
}

.tent {
    border: 1px double hsl(210, 10%, 23%);
}

.compas-para,
.outdoors-para {
    background: hsl(40, 10%, 90%);
    margin: 0;
    padding: 10px;
}

.tent-para {
    padding: 10px;
    margin: 0;
    background: #343a40;
    color: #fff;
}

.compas-para,
.outdoors-para,
.tent-para {
    padding: 18px 16px;
    line-height: 1.3;
    border: 1px solid transparent;
}

.creativity div {
    width: 360px;
    padding: 0 12px;
}

.creativity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.creativity img {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}