/* 1. COLOR PARAGRAPHS */

.color-paragraphs {
    width: 400px;
}

.color-paragraphs p {
    line-height: 1.2;
}

.color-paragraphs p:nth-of-type(odd) {
    color: #ff0000;
}

.color-paragraphs p:nth-of-type(even) {
    color: #0000ff;
}

/* 2. PAINTED PAGE */

.painted-page {
    width: 300px;
    background: #aaa;
}

.items {
    position: relative;
    background: #fff;
    top: 10px;
    margin: 0 15px;
}

.painted-page p {
    padding: 10px 15px;
    line-height: 1.2;
}

.items span {
    color: #00FE00;
}

/* 3. Congrats */

.congrats {
    width: 300px;
    height: 100px;
    background: #aaa;
    border: 1px solid #111;
}

.congrats span {
    line-height: 100px;
    vertical-align: middle;
}

.congrats span:first-of-type {
    color: #00FE00;
    margin-left: 5px;
}

.congrats span:last-of-type {
    color: #b84900;
    font-size: 26px;
}

/* 4. Jerry */

.jerry {
    width: 300px;
    margin-top: 20px;
}

.jerry .jerry-img {
    border: 2px solid #666;
    width: 150px;
    height: 200px;
}

.jerry .jerry-para span {
    color: #888;
    font-size: 28px;
}

.jerry .jerry-para {
    line-height: 1.3;
}