/* SerifSansSerif */

.serifs {
    width: 300px;
    font-size: 150%;
}

.serif {
    font-family: 'Lora', serif;
}

.sans {
    font-family: 'Ubuntu', sans-serif;
}

/* 2. PERCENTAGE */

body {
    font-size: 12px;
}

.percentage h1,
.percentage p::first-letter {
    font-size: 200%;
}

.percentage p::first-letter {
    font-weight: bold;
}

.percentage h2 {
    font-size: 150%;
}

.percentage {
    width: 300px;
    font-size: inherit;
}

.percentage p {
    font-family: 'Georgia', 'Times', 'Times New Roman', sans-serif;
    letter-spacing: 0.1em;
    font-size: 125%;
}

/* 3. CustomFonts */

@font-face {
    font-family: 'Bebas';
    src: url("./fonts/bebas-webfont.eot");
    src: url("./fonts/bebas-webfont.svg#Bebas") format("svg"), 
         url("./fonts/bebas-webfont.ttf") format("ttf"),
         url("./fonts/bebas-webfont.woff") format("woff"),
         url("./fonts/bebas-webfont.woff2") format("woff2"), 
         url("./fonts/bebas-webfont.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.custom-fonts h1,
.custom-fonts p::first-letter {
    font-family: 'Bebas', sans-serif;
}

.custom-fonts p::first-letter {
    font-size: 200%;
}

.custom-fonts h1 {
    font-size: 200%;
}

.custom-fonts p {
    font-size: 150%;
}

.custom-fonts {
    width: 300px;
}

.tasks-list a {
    text-decoration: none;
    font-size: 150%;
}

.tasks-list a:link,
.tasks-list a:visited {
    color: #FF0000;
}

.tasks-list a:hover {
    color: #0C10E8;
    text-decoration: underline;
}

/* 4. Dublicate Page */

.dublicates {
    width: 700px;
}

.dublicates h1 {
    font-size: 300%;
}

.dublicates h2 {
    text-align: right;
    text-decoration: line-through;
    font-size: 220%;
}

.dublicates p {
    line-height: 1.4;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 200%;
}

.dublicates strong {
    font-size: 130%;
}

/* 5. Shadow */

.headers {
    width: 300px;
    text-align: center;
    text-transform: uppercase;
}

.purple {
    background: rgba(174, 41, 192, 0.5);
    font-size: 300%;
    text-shadow: 2px 3px 2px #333;
}

.dark {
    background: #000;
    color: #fff;
    font-size: 300%;
    text-shadow: -2px -2px 0px rgba(174, 41, 192, .9);
}