.message {
    display: flex;
    width: 700px;
}

.chat-pic {
    width: 50px;
    height: 50px;
}

.chat-content {
    margin-left: 15px;
    flex: 1;
}

.chat-head {
    display: flex;
    justify-content: space-between;
}

#chat div {
    margin-bottom: 8px;
}

.name {
    font-family: sans-serif;
    color: #5475AF;
}

.chat-body p,
.chat-body span {
    font-family: sans-serif;
    margin-bottom: 0;
    margin-right: 50px;
    line-height: 1.3;
}

.fa-smile {
    color: #E6CF47;
}

.chat-body span:first-of-type {
    margin-top: 4px;
}

.time {
    color: rgba(0, 0, 0, 0.4);
}

.fa-comment-alt,
.fa-mobile-alt {
    margin-right: 5px;
    font-size: 65%;
}

.bg-dark {
    width: 13px;
    height: 12px;
    border: 1px solid transparent;
    position: relative;
    top: 1px;
    left: -20px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    z-index: -1;
    margin: 0 !important;
}