html,
body,
#products {
    height: 100%;
}

#products {
    display: table;
    margin: 0 auto;
    position: relative;
}

img {
    width: 360px;
    height: 240px;
}

ul {
    list-style-type: none;
    overflow: auto;
    padding: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

ul li {
    float: left;
}

li+li {
    margin: 0 0 0 8px;
}

.message {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 150%;
}