.module {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: white;
}

.module h3 {
    margin: 0 27px 0 0;
    font-style: italic;
    font-weight: 100;
}

.stripe {
    background: repeating-linear-gradient( -45deg, #eee, #eee 3px, #fff 0px, #fff 7px);
    height: 20px;
    width: 90%;
}

.col-2-grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 42px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.img-placeholder,
.img-placeholder-small {
    height: 200px;
    background: #666;
    border: 5px solid #fff;
    -webkit-box-shadow: 1px 1px 10px;
    box-shadow: 1px 1px 10px;
}

.img-placeholder-small {
    height: 75px;
    width: 125px;
}

.small-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.single-post {
    margin: 27px 0;
}

.post-content h2,
.post-content-small h3 {
    margin: 0 0 16px 0;
    font-family: sans-serif;
    font-weight: 100;
}

.post-content-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 15px;
}

.post-content-small .muted-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.normal-text,
.red-text {
    font-family: sans-serif;
    font-weight: 100;
}

.red-text {
    color: #ff0000;
}

.muted-info {
    opacity: .5;
    font-style: italic;
}

.strong-opacity {
    opacity: .7;
}

.post-para {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 110%;
}

hr {
    margin: 27px 0;
}