html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 1. Rects */

#rects {
    background: pink;
    overflow: auto;
    padding: 42px;
    display: flex;
    justify-content: space-evenly;
}

#rects div {
    float: left;
}

#rects div+div {
    margin: 0 12px;
}

.rectangle {
    width: 350px;
    height: 350px;
    background-color: rgb(10, 0, 9);
    border: 2px solid #fff;
    -webkit-box-shadow: 16px 6px 14px 10px rgb(10, 0, 9);
    -moz-box-shadow: 16px 6px 14px 10px rgb(10, 0, 9);
    box-shadow: 16px 6px 14px 10px rgb(10, 0, 9);
}

.rounded-rectangle,
.circle,
.rectangle {
    position: relative;
}

.rectangle span,
.rounded-rectangle span,
.circle span {
    color: #fff;
    position: relative;
    top: 12px;
    left: 12px;
}

.rounded-rectangle {
    background: #aaa;
    border: 2px solid #fff;
    border-radius: 20px 100px;
    box-shadow: -8px -10px 16px 10px #aaa;
    width: 350px;
    height: 175px;
}

.rounded-rectangle span {
    color: rgb(1, 100, 1);
}

.circle {
    background: #222;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 550px;
    width: 550px;
    box-shadow: 6px 6px 14px 7px rgb(10, 0, 9);
}

/* 2. Welcome */

.red-rect,
.blue-ish {
    background: rgb(255, 69, 0);
    width: 350px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 26px 0;
    overflow: auto;
    margin-top: 12px;
}

.blue-ish {
    background: #B0E0E6;
    text-align: center;
}

#welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#welcome div+div {
    margin: 12px 0;
}

#welcome h1 {
    font-size: 200%;
    padding: 12px;
}

#welcome p {
    padding: 12px;
    font-size: 150%;
}

/* 3. Navs */

@font-face {
    font-family: 'Bebas';
    src: url("./fonts/bebas-webfont.eot");
    src: url("./fonts/bebas-webfont.svg#Bebas") format("svg"), url("./fonts/bebas-webfont.ttf") format("ttf"), url("./fonts/bebas-webfont.woff") format("woff"), url("./fonts/bebas-webfont.woff2") format("woff2"), url("./fonts/bebas-webfont.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

#nav1,
#nav2,
#nav3 {
    width: 50%;
    margin: 10px auto;
    background-color: rgba(255, 80, 0, 0.5);
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 0;
}

#nav1 ul,
#nav3 ul {
    list-style-type: none;
    display: table;
    padding: 0;
    margin: 0 auto;
}

#nav1 ul li,
#nav3 ul li {
    float: left;
    padding: 14px 0;
}

#nav2 ul li {
    padding: 14px 0;
}

#nav2 ul div:nth-child(1),
#nav2 ul div:nth-child(2),
#nav2 ul div li,
#nav2 ul div li {
    float: left;
}

#nav1 ul li+li,
#nav2 ul li+li,
#nav3 ul li+li {
    float: left;
    margin: 0 0 0 40px;
}

#nav1 ul a,
#nav2 ul a,
#nav3 ul a {
    font-size: 150%;
}

#nav1 ul a:link,
#nav1 ul a:visited,
#nav2 ul a:link,
#nav2 ul a:visited,
#nav3 ul a:link,
#nav3 ul a:visited {
    color: #000;
    text-decoration: none;
}

#nav1 ul li:first-of-type,
#nav1 ul li:last-of-type {
    font-family: 'Bebas', sans-serif;
}

#nav2 div:first-of-type li:first-of-type,
#nav2 div:last-of-type li:last-of-type {
    font-family: 'Bebas', sans-serif;
}

#nav3 ul li:first-of-type,
#nav3 ul li:last-of-type  {
    font-family: 'Bebas', sans-serif;
}

.space-between {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 605px;
}

#nav3 .left-aligned {
    margin-left: 96px;
}
