body {
    margin: 0;
}

#floats {
    background: #DEEABA;
    overflow: auto;
}

.rectangle {
    float: left;
    border: 1px solid #000;
    width: 32.9%;
    height: 350px;
    box-sizing: border-box;
}

.container {
    overflow: auto;
    width: 1280px;
    margin: 0 auto;
    display: table;
    margin: 15px auto;
}

.container .rectangle+.rectangle {
    margin: 0 0 8px 8px;
}

.container .rectangle:nth-child(4n),
.container .rectangle:last-of-type {
    margin: 0;
}

.container p {
    padding: 5px;
}

/* 2. Layout2 */
#layout2 {
    background: #C0FFFB;
}

.green-rect {
    background: #94EFC1;
    width: 65%;
    height: 200px;
    float: left;
    margin:12px;
}

.purple-rect {
    background: #F657FC;
    width: 30%;
    height: 200px;
    float: left;
    margin:12px;
}

.wrapper {
    overflow: auto;
    display: table;
    margin: 0 auto;
    width: 1200px;
}