body {
    margin: 0;
}

.timetable {
    display: table;
    margin: 24px auto;
}

section.wrapper {
    overflow: auto;
    background: #DEEABA;
}

section.wrapper h1 {
    text-align: center;
}

hr {
    border: 1px dashed #aaa;
}

.week,
.week td,
.week th {
    border: 1px solid #000;
    border-collapse: collapse;
}

.week thead th,
.week tbody tr:nth-of-type(6) {
    background: #83DE6E;
}

.week tbody tr:first-of-type td,
.week tbody tr:nth-of-type(4) td {
    padding: 24px 12px;
}

.week tbody tr:nth-of-type(2) td,
.week tbody tr:nth-of-type(3) td,
.week tbody tr:nth-of-type(5) td,
.week tbody tr:nth-of-type(6) td,
.week tbody tr:nth-of-type(7) td {
    padding: 10px 12px;
}

.week tbody tr:nth-of-type(2) td,
.week tbody tr:nth-of-type(4) td {
    background: #E6E6E6;
}

.the-sun {
    width: 50px;
}

.week tbody tr:first-of-type td {
    width: 45px;
}

tbody tr:nth-child(1) td:nth-child(7),
tbody tr:nth-child(4) td:nth-child(7),
tbody tr:nth-child(4) td:nth-child(8) {
    text-align: center;
}

.week tr:hover {
    cursor: pointer;
    background: #83DE6E;
    color: #000;
}

/* 2. List */

#list {
    background: #C0FFFB;
    overflow: auto;
}

#list ul {
    list-style-type: none;
    padding: 0;
    margin-left: 32px;
}

#list ul li {
    font-size: 150%;
}

#list ul li .fas {
    margin-right: 10px;
}

#list h1 {
    margin-left: 5px;
}

/* 3. My Books */

#mybooks table {
    border: 0;
    border-collapse: separate;
    border-spacing: 3px 5px;
    width: 480px;
    margin: 18px 12px;
}

#mybooks thead tr th,
#mybooks tbody tr td {
    border-collapse: separate;
    border-spacing: 5px 5px;
    padding: 7px 12px;
    text-align: left;
}

#mybooks thead tr th {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #000;
    text-transform: uppercase;
}

#mybooks thead tr th:last-of-type,
#mybooks tbody tr td:last-of-type {
    text-align: right;
}

#mybooks tbody tr:nth-of-type(2) {
    background: #EFEFEF;
}

#mybooks tbody tr:nth-of-type(4) {
    background: #C3E6E5;
}

/* 4. Contact Us */

@font-face {
    font-family: 'Bebas';
    src: url("./fonts/bebas-webfont.eot");
    src: url("./fonts/bebas-webfont.svg#Bebas") format("svg"), url("./fonts/bebas-webfont.ttf") format("ttf"), url("./fonts/bebas-webfont.woff") format("woff"), url("./fonts/bebas-webfont.woff2") format("woff2"), url("./fonts/bebas-webfont.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/* 4. Contact Us */

.contacts {
    position: relative;
    overflow: auto;
}

.form-wrapper form {
    display: table;
    margin: 0 auto;
    width: 350px;
}

.form-wrapper h1 {
    font-family: 'Bebas', sans-serif;
    text-align: center;
    word-spacing: 8px;
}

.form-wrapper {
    overflow: auto;
    width: 400px;
    height: 250px;
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 8px -1px #000;
            box-shadow: 1px 1px 8px -1px #000;
    margin: 20px;
}

.input-group {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #eee;
    display: table;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
}

.input-group span,
.input-group input {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.input-group input {
    border: none;
    width: 100%;
    display: table-cell;
    outline: none;
    text-align: left;
    background: #eee;
}

.form-wrapper form input[type="submit"] {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #eee;
    font-size: 125%;
    padding: 5px 10px;
    color: #555;
}

.form-wrapper form input[type="submit"]:hover {
    cursor: pointer;
}

/* removes the ugly yellow default backround color of input */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eee;
}